
html {

  background:rgb(42, 42, 42) !important;

}




.main-content {

  background:rgb(51, 51, 51);

}

.page-content {

  margin-bottom: 70px;
}


input {
  outline: none !important;
}

div, button {
  transition: 0.3s all ease-in-out;
}

.edit-view-cards {
  border-color: transparent;
  background: transparent;
  border-radius: 0px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-weight: 500;
}

.edit-view-cards h3 {
  color: rgb(242, 188, 18) !important;
}


.edit-view-cards:hover {
  border-bottom: 2px solid rgb(242, 188, 18);
  color: rgb(242, 188, 18) !important;
}



.text-offwhite-f {
  color: whitesmoke !important;
  font-size: 11px;
  padding: 30px 0px;
}

.home-upper-date {
  color: rgb(242, 188, 18);
}

.home-upper-date img {
  height: 130px;
  padding-bottom: 0px;
  width: 130px;
  object-fit: contain;
}


.text-main-color {

  color: rgb(242, 188, 18);
}


.home-middle-section {
  background: rgb(51, 51, 51);
  border-radius: 4px;
  border:none;
  padding: 90px 0px;
}

.home-middle-section:hover {
  border:none;
}


.home-middle-section i {
  color:rgb(242, 188, 18);
  border-radius: 50%;;
  border: 2px solid rgb(242, 188, 18);
  padding: 10px 15px;
}


.middle-sec-fallback {
  text-transform: none;
  font-size: 17px;
}

.home-footer i {
  font-size: 18px;
  color: rgb(242, 188, 18);
}




.view-card-bg {
  background-color: #404040;
  border-radius: 4px;
  height: 120px;

}




/* ----------- Ad Page */

.ad-page-title {
  padding: 20px;
  font-weight: 500;
  color: white;
  font-size: 20px;
}

.rest-menu-col {
  border-radius: 4px;
  background-color: rgb(42, 42, 42);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 2px 0px lightgrey;
  margin-bottom: 30px;
  padding: 0px;
}

.rest-new-button {
  background:rgb(254, 184, 0);
  color:black;
  box-shadow: 0px 0px 3px 0px lightgrey;
  font-weight: bold;
  padding: 8px 25px;
}

.rest-new-button:hover, .rest-new-button:focus {
  color:black;
  box-shadow: 0px 0px 3px 0px black;
}

.rest-overlay {
  background:rgba(0, 0, 0, 0.4);
  padding: 10px 10px;
}


.rest-bottom-note {
  margin-top: 160px;
}



/* ------- profile page */

.user-info-wrapper {
  background: rgb(51, 51, 51);
  padding: 30px 25px;
  border-radius: 5px;
}


.user-info-row {
  margin-bottom: 25px;

}

.user-info-row i {
  font-size: 22px;
  margin-right: 8px;
  color: rgb(254, 184, 0);
}

.user-info-row h5 {
  margin-bottom: 5px;
  font-size: 16px;
}

.user-info-row p {
  font-size: 14px;
  margin-bottom: 0px;
  color: rgb(254, 184, 0);
}


.profile-location-button {
  background: rgb(254, 184, 0);
  color: rgb(42, 42, 42);
  text-align: center;
  display: block;
  border-radius: 4px;
  padding: 6px 0px;
  font-size: 17px;
  font-weight: 500;
}

.profile-location-button:hover, .profile-location-button:focus {
  color:rgb(42, 42, 42);
}


.profile-location-button i {
  font-size: 15px;
  margin-right: 5px;
}

.profile-dd-button {
  box-shadow: none !important;
}

.profile-dd-button i {
  color: rgb(254, 184, 0);
  font-size: 15px;
}

.custom-dd-menu {
  background:rgb(51, 51, 51);
}


.custom-dd-menu a {
  background: rgb(51, 51, 51);
  color: rgb(254, 184, 0);
  padding: 12px 15px !important;
}


.custom-dd-menu a:hover {
  background: rgb(51, 51, 51)
}


.custom-dd-menu a i {
  margin-right: 5px;
}

.menu-back-button {
  font-size: 18px;
  color: rgb(254, 184, 0) !important;
}

.profile-custom-inputs {
  background:rgb(42, 42, 42);
  color: whitesmoke;
  border: 1px solid rgb(196, 140, 0);
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0px rgb(196, 140, 0);
  width: 100%;
  font-size: 15px;
  padding: 12px 10px;
}


.profile-custom-inputs:focus-visible {
  outline: none !important;
}



.profile-cols label {
  color :rgb(254, 184, 0);
  margin-top: 8px;
}

.edit-profile-button {
  color: white;
  font-weight: 500;
  margin-top: 10px;
  padding: 12px 0px;
}





/* -------------- show page */


.showpage-overlay-img {
  background-position: center;
  background-size: cover;
}

.showpage-overlay {
  background:rgba(0, 0, 0, 0.4);
  padding: 30px 30px;
}

.showpage-action-buttons {
  width: 130px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

.showpage-action-buttons i {
  color: black;
}

.showpage-map-button {
  background:rgb(51, 51, 51);
  color: rgb(254, 184, 0);
  position: absolute;
  right: 25px; 
  top:-20px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;
  font-size: 20px;
  border-radius: 50%;

}

.showpage-map-button:hover {

  color: rgb(254, 184, 0);
  transition: 0.3s all ease-in-out;
  border-color:rgb(254, 184, 0);
}

.showpage-middle-content {
  background: rgb(51, 51, 51);
  padding: 30px 20px;
  border-radius: 4px;
}






/* -------------- chat page */

.chat-message {
  padding: 15px 15px;
  font-size: 15px;
  line-height: 1.2rem;
}


.chat-receiver {
  background: white;
  color: black;
  box-shadow: 0px 0px 2px 0px white;

  border-radius: 14px;
  border-top-left-radius: 0px;

}

.chat-sender {
  background: rgb(51, 51, 51);
  color: white;
  box-shadow: 0px 0px 2px 0px rgb(51, 51, 51);
  border-radius: 14px;
  border-top-right-radius: 0px;

}


.upload-img-chat {
  font-size: 16px;
  width: 100%;
  margin-bottom: 0px;
}

.upload-img-chat i {
  font-size: 18px;
  cursor: pointer;
  color: rgb(254, 184, 0);
}



@media (min-width: 1px) {

  .send-message-input {

    color: black;
    font-size: 15px;
    outline: none !important;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    width: 77%;
  }

  .send-message-button {

    width: 22%;

  }

}

@media (min-width: 576px) {
  
  .send-message-input {

    width: 89%;

  }

  .send-message-button {

    width: 10%;

  }

}

/* .send-message-input {
  width: 100%;
  color: black;
  font-size: 15px;
  outline: none !important;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;

} */

.send-message-input::placeholder {
  
  color: black !important;
}


.send-message-button {

  color: rgb(254, 184, 0);
  font-size: 20px;

}

.send-message-button:hover, .send-message-button:focus  {

  color: rgb(254, 184, 0);

}


.d-inline-block-f {
  display:inline-block !important;
}


.send-message-wrapper {
  border-radius: 6px;
}


/* -------- login page */

.login-logo {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin: 90px 0px 80px;
}



.profile-custom-inputs::placeholder {
  color: rgb(254, 184, 0);
}







/* ----------------------- driver */

.home-footer-driver i {

  color: grey;
}

.home-footer-driver i.active {

  color: rgb(254, 184, 0);
}


.home-upper-date-driver img {
  height: 100px;
  width: 100px;
}

.view-card-bg-driver{
  background-color: transparent;
  border-radius: 0px;
  height: 110px;
}



.edit-view-cards-driver {
  border-color: transparent;
  background: transparent;
  border-radius: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-weight: bolder;
  border-bottom: 4px solid transparent;
  font-size: 11px;
}


.edit-view-cards-driver:hover {
  border-bottom: 3px solid rgb(242, 188, 18);
  color: rgb(242, 188, 18) !important;
}

.edit-view-cards-driver h3 {
  color: rgb(242, 188, 18) !important;
  font-size: 32px !important;
}


.home-searchinput {
  width: 100%;
  background: transparent;
  color: rgb(254, 184, 0);
  border-radius: 4px;
  border: 1px solid rgb(196, 140, 0);
  padding: 15px 15px;
  color: whitesmoke;
  
}

.home-searchinput::placeholder {
  color:whitesmoke;
}


.rest-carousal-col {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  /* height: 130px; */
}


.rest-carousal-col a {
  
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  width: 150px;
  margin-right: 20px;
  display:inline-block;
  background-repeat: no-repeat;
  height: 130px;
  border: 3px solid #2a2a2a;
  box-shadow: 0px 0px 3px 0px grey;
}


.rest-carousal-col a.active {

  border: 3px solid rgb(254, 184, 0);
}


.rest-carousal-col a div {

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.rest-carousal-col a span {

  position: absolute;
  bottom: 10px;
  left:10px;
  width: 85%;
  overflow: hidden;
  color:rgb(254, 184, 0) !important;
  font-weight: bold;
}


.home-middle-section-driver {
  border : 1px solid #fcbc1278;
  background: rgb(51, 51, 51);
  border-radius: 4px;
  padding: 30px 0px;
}


.home-cashamount {
  color: rgb(254, 184, 0);
  font-size: 13px;
}


.index-status-button {
  font-weight: bold;
  cursor: default !important;
  width: 100%;
  background-color: #52c770;
}

.index-delivery-button {
  font-weight: bold;
  width: 100%;
  background-color: rgb(254, 184, 0);
  color:black;
}

.index-status-button i, .index-delivery-button i {

  font-size: 11px !important;
  width : auto;
  color:whitesmoke;
  padding:2px;
  margin-right: 3px;
  border:1px solid black;
  border-radius: 50%;
  background-color: black;
}

.index-delivery-button:hover, .index-delivery-button:focus {
  color:black;
}

.home-searchselect {
  width: 100%;
  background: transparent;
  color: rgb(254, 184, 0);
  border-radius: 4px;
  border: 1px solid rgb(196, 140, 0);
  height: 51px;
  color: whitesmoke;
  background-repeat: no-repeat;
  background: #293749 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23eff2f7' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;

  background-position: 95%;
  background-color: transparent;

}

.home-searchselect::placeholder {
  color: whitesmoke;
}

.home-searchselect option {
  color: black;
}


.cursor-pointer-f {
  cursor: pointer !important;
}



.home-tabs-row button {
  font-size: 13px;
  color:white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-radius: 0px;
}

.home-tabs-row button:focus {
  box-shadow: none !important;
}

.home-tabs-row button.active {
  color: rgb(254, 184, 0);
  border-bottom: 2px solid rgb(254, 184, 0);
}




.uppermapcol.active {
  height: 400px;
  background: whitesmoke;
  position: relative;
}

.uppermapcol {
  height: 200px;
  background: whitesmoke;
  position: relative;
}

.uppermapbutton {
  position: absolute;
  background: rgb(42, 42, 42);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px black;
  left: 45%;
  bottom: -20px;
  z-index: 400;

  width: 50px;
  height: 50px;
  font-size: 20px;
  color: rgb(254, 184, 0) !important;
}


.lowermapcol a {

  width: 120px;
  font-size: 14px;
  font-weight: bold;
  background: rgb(254, 184, 0);
  color:rgb(42, 42, 42) !important;
  padding: 6px 0px;
}


.map-priceinput {
  padding: 10px 15px;
  border: 2px solid rgb(196, 140, 0);
}

.map-priceinput::placeholder {
  color: grey;
}

.map-statusselect {
  height: 45px;
  border: 2px solid rgb(196, 140, 0);

}

.facamera {
  background:none !important;
  font-size: 30px !important;
  border: none !important;
  color:black !important;
}


.profile-logocol {
  position: relative;
}

.profile-logocol i  {
  border-radius: 50%;
  font-size: 15px;
  background-color: rgb(88, 88, 88); 
  position: absolute;
  color: whitesmoke;
  bottom:5px;
  right: 7px;
  padding: 5px;
}

.profile-logocol img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: contain;
  /* box-shadow: 0px 0px 3px 0px rgb(196, 140, 0); */
}

.drivinglicensepic {
  width: 100%;
  object-fit: cover;
}